{% extends "base.html" %} 
{% block title %} 何敏煌的網站 {% endblock %} 
{% block headmessage %}
	<h1 class="alert alert-warning">班級身體健康管理表</h1>
{% endblock %} 

{% block content %} 

<form action="/bodyinfo/" method="POST">
	{% csrf_token %}
	姓名：<input name="name" size=10 required>
	身高：<input name="h" size=4 required>公分，
	體重：<input name="w" size=4 required>公斤
	<input type=submit value="新增">
</form>


	<table class="table table-success table-striped">
		<tr><td>姓名</td><td>身高</td><td>體重</td><td>BMI</td><td>管理</td></tr>
  {% for item in data %}
  		<tr>
  			<td>
  			  	{{ item.name }}
  			</td>
  			<td>{{ item.height }}</td>
  			<td>{{ item.weight }}</td>
  			<td>{{ item.bmi }}</td>
  			<td>
  				<a class="btn btn-outline-danger btn-sm" href="/delete/{{item.id}}/">刪除</a>
  			</td>
    	</tr>
  {% endfor %}
  	</table>
{% endblock %}
