<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">何敏煌</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lucky/">Lucky</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lotto/">大樂透號碼預測</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            更多功能
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/">後台管理</a></li>
            <li><a class="dropdown-item" href="/mynews/">我的新聞列表</a></li>
            <li><a class="dropdown-item" href="#">功能 C</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
