{% extends "base.html" %} 
{% block title %} 何敏煌的網站 {% endblock %} 
{% block headmessage %}
	<h1 class="alert alert-warning">收集的新聞列表</h1>
{% endblock %} 

{% block content %} 
	<table class="table table-success table-striped">
		<tr><td>新聞標題</td><td>新聞來源</td><td>張貼時間</td></tr>
  {% for item in news %}
  		<tr>
  			<td>
  			  	<a href="/shownews/{{ item.id }}/">{{ item.title }}</a>
  			</td>
  			<td>{{ item.source }}</td>
  			<td>{{ item.pdate }}</td>
    	</tr>
  {% endfor %}
  	</table>
{% endblock %}
